.prefecture-detail-container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prefecture-detail-image {
  display: block;
  margin: 0 auto 16px;
  border-radius: 8px;
}
